<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebeu.graduatefeedback.dao.PaperQueMapper">
  <resultMap id="BaseResultMap" type="com.hebeu.graduatefeedback.pojo.PaperQue">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="que_type" jdbcType="INTEGER" property="queType" />
    <result column="que_id" jdbcType="VARCHAR" property="queId" />
    <result column="paper_id" jdbcType="VARCHAR" property="paperId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, que_type, que_id, paper_id
  </sql>
  <select id="selectByExample" parameterType="com.hebeu.graduatefeedback.pojo.PaperQueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from paper_que
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paper_que
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from paper_que
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hebeu.graduatefeedback.pojo.PaperQueExample">
    delete from paper_que
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hebeu.graduatefeedback.pojo.PaperQue">
    insert into paper_que (id, que_type, que_id, 
      paper_id)
    values (#{id,jdbcType=VARCHAR}, #{queType,jdbcType=INTEGER}, #{queId,jdbcType=VARCHAR}, 
      #{paperId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hebeu.graduatefeedback.pojo.PaperQue">
    insert into paper_que
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="queType != null">
        que_type,
      </if>
      <if test="queId != null">
        que_id,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="queType != null">
        #{queType,jdbcType=INTEGER},
      </if>
      <if test="queId != null">
        #{queId,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hebeu.graduatefeedback.pojo.PaperQueExample" resultType="java.lang.Long">
    select count(*) from paper_que
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update paper_que
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.queType != null">
        que_type = #{record.queType,jdbcType=INTEGER},
      </if>
      <if test="record.queId != null">
        que_id = #{record.queId,jdbcType=VARCHAR},
      </if>
      <if test="record.paperId != null">
        paper_id = #{record.paperId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update paper_que
    set id = #{record.id,jdbcType=VARCHAR},
      que_type = #{record.queType,jdbcType=INTEGER},
      que_id = #{record.queId,jdbcType=VARCHAR},
      paper_id = #{record.paperId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hebeu.graduatefeedback.pojo.PaperQue">
    update paper_que
    <set>
      <if test="queType != null">
        que_type = #{queType,jdbcType=INTEGER},
      </if>
      <if test="queId != null">
        que_id = #{queId,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hebeu.graduatefeedback.pojo.PaperQue">
    update paper_que
    set que_type = #{queType,jdbcType=INTEGER},
      que_id = #{queId,jdbcType=VARCHAR},
      paper_id = #{paperId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>